.ProfileContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ProfileImgContainer {
  align-self: center;
  background-color: #cecece;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
