html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border: none;
  border-radius: 20px;
}

button {
  border: 0;
  outline: 0;
  background: none;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}