* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #fff;
}
  
::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border: none;
    border-radius: 20px;
}

button {
    border: 0;
    outline: 0;
    background: none;
}

/* header */
.header {
    background-color: #8e24aa;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
    position: fixed;
    top: 0;
    height: 60px;
}

/* avatar */
.header-avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-avatar_photo {
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;
}

.header-avatar_info {
    display: flex;
    flex-direction: column;
}

.header-avatar_info-title {
    font-size: 22px;
}

.header-avatar_info-subtitle {
    opacity: .5;
    font-size: 14px;
}

.header-search_more {
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* avatar */
/* header */

/* chat */
.chat {
    background: #f8f8f8;
}

.messages {
    padding: 0;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 60px;
}

/* message */
.message {
    margin-bottom: 10px;
    padding: 16px 16px 8px;
    border-radius: 8px;
    width: fit-content;
    white-space: pre-wrap;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}

.message.user {
    background-color: #f3e5f5;
    margin-left: auto;
}

.message.other {
    background-color: #ffffff;
    text-align: left;
}

.time {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* message */
/* chat */

/* footer */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* message-form */
.message-form {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
}

#message-input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 18px;

    &:focus {
        outline: none;
    }
}

.attach {
    color: rgb(0, 0, 0, .5);
}

#send-button {
    color: #8e24aa;
}
/* message-form */
/* footer */